{% load static %}
{% load staticfiles %}


<html>
<head>
 <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"  type="text/css">
</head>

<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="/media/images/login.png" id="icon" alt="" />
    </div>

    <!-- Login Form -->
    <form method="POST">
      	{% csrf_token %}
		{{form.as_p}}
      <input type="submit" class="fadeIn fourth" value="Log In">

    </form>
  </div>
</div>
</body>
</html>